@import "tailwindcss";

.header{
    border-radius: 50px;
    font-size:large;
    padding: 10px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;

}
li{
    color: var(--color-amber-100);
    
}
.InstaGram {
    direction: ltr;
}
.li-icon:hover{
    margin-right: 10px;
    transition: 1s;
    color: var(--color-pink-500);
}
.li-icon{
    font-size: 25px;
    transition: 1s;

}


.li-refrence-links span:hover{
    color: rgb(168, 252, 224);
    transition: 1s;
}
.li-refrence-links span{
    transition: 1s;
}

@media only screen and (max-width: 700px) {
    .li-refrence-links{
        font-size:small;
    }
    .InstaGram{
        font-size: small;
    }
}